/* Fonts
 *
 * TODO: replace this by `font-display: swap` when it will be supported by browsers.
 * http://caniuse.com/#feat=css-font-rendering-controls
 */
body                   { font-family: sans-serif; }
.fira-sans-loaded body { font-family: 'Fira Sans', sans-serif; }

code                   { font-family: monospace; }
.fira-mono-loaded code { font-family: 'Fira Mono', monospace; }

/* Styles */

main li:not(:last-child) {
  margin-bottom: 10px;
}

figure {
  text-align: center
}

.header__logo {
  margin-right: 20px;
}
.header__logo img {
  margin-top: 5px;
}

.home__overview {
  max-width: 750px;
  margin: 50px auto 60px auto;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

.bio-pic {
    max-height: 225px;
    max-width: 175px;
}

footer {
    margin: 30px;
    text-align: center;
}

/* Icons
 * Mostly extracted from https://github.com/encharm/Font-Awesome-SVG-PNG/tree/master/black/svg
 */

.icon::before {
  display: inline-block;
  content: ' '; /* a single unbreakable space */
  width: 14px;
  background: no-repeat center center;
  background-size: contain;
}

.icon-envelope::before { background-image: url('/img/fa-envelope.svg') }
.icon-github::before   { background-image: url('/img/fa-github.svg') }
.icon-heart::before    { background-image: url('/img/fa-heart.svg') }
.icon-key::before      { background-image: url('/img/fa-key.svg') }
.icon-twitter::before  { background-image: url('/img/fa-twitter.svg') }
