    </main>
    <footer>
        Codeurs en Liberté
        — <a href="/à-propos/legal/">Mentions légales</a>
        — <a href="https://gitlab.com/CodeursEnLiberte/www">Sources du site</a>
    </footer>
  </body>
</html>
