<h2>{{ .Get "name" }}</h2>
<div class="row">
<div class="col-md-2">
<img src="/bios/{{ .Get "pic" }}" alt="{{ .Get "name" }}" class="bio-pic" />
</div>
<div class="col-md-5">
{{.Inner}}
</div>
</div>
